<div id="home-container" [dir]="pageDirection" class="justify-content-start">

    <!-- Header -->
    <header>
        <nav class="bg-transparent pb-lg-5 pb-md-4 pb-3">
            <div class="px-lg-5 px-md-4 px-3">
                <div class="row g-0 align-items-center justify-content-between pt-lg-5 pt-md-4 pt-3">
                    <div class="col-6">
                        <span class="h2 text-white">{{ "TheListofStatues" | translate }}</span>
                    </div>
                    <div class="col-auto">
                        <div class="dropdown">
                            <button class="btn text-main btn-dark fw-bold border-0 d-flex align-items-center"
                                type="button" id="languageMenuBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="h5 mb-0 ms-2 me-3">{{currentLanguage}}</span>
                                <span class="lang-toggle btn-main"><em class="fas fa-angle-down"></em></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="languageMenuBtn">
                                <li>
                                    <button class="dropdown-item text-main"
                                        type="button"
                                        (click)="onChangeLang(secondLanguage)">{{secondLanguage}}</button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-main"
                                        type="button"
                                        (click)="onChangeLang(thirdLanguage)">{{thirdLanguage}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="pb-lg-5 pb-md-4 pb-3">
        <!-- Content -->
        <section class="">
            <div class="px-lg-5 px-md-4 px-3">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 mb-3" *ngFor="let statue of statuesList">
                        <div class="status-card status-card-shadow rounded-3">
                            <div class="col-xl-5 col-lg-6 col-5 pe-3 text-center">
                                <a [routerLink]="['/statues-list', statue.statueId]">
                                    <img [src]="statue.statueImage" class=""
                                        height="166" width="" 
                                        [alt]="currentLanguage == 'English'? statue.statueTitle : (currentLanguage == 'French' ? statue.statueTitleFr : statue.statueTitleAr)"
                                        [title]="currentLanguage == 'English'? statue.statueTitle : (currentLanguage == 'French' ? statue.statueTitleFr : statue.statueTitleAr)" />
                                </a>
                            </div>
                            <div class="col-6">
                                <a [routerLink]="['/statues-list', statue.statueId]">
                                    <h6 class="text-sub-main fw-bold">
                                        {{ currentLanguage == 'English'? statue.statueTitle : (currentLanguage == 'French' ? statue.statueTitleFr : statue.statueTitleAr) }}</h6>
                                </a>
                                <p class="small mb-0 ff-inter">
                                    {{ currentLanguage == 'English'? statue.statueIntro : (currentLanguage == 'French' ? statue.statueIntroFr : statue.statueIntroAr) }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
